body {
    background: #f9f9ff;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: bottom;
}

article img {
    border: 1px solid #000;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #000;
    position: relative;
}

aside {
    display: table-cell;
    vertical-align: top;
}

article {
    background-color: #F9F9E5;
    display: table-cell;
    vertical-align: top;
    padding-top: 40px;
}

iframe {
    border: 0;
    height: 1000px;
}

h2 {
    color: #2f4f2f;
    background: #ffc;
}

figure {
    display: table;
}

figcaption {
    text-align: center;
}

strong {
    font-size: 5em;
}

a {
    text-decoration: none;
}

.sidebar ul {
    padding-left: 1em;
}

.sidebar a {
    text-decoration: none;
}

.thumb {
    list-style-type: none;
}

.thumb li {
    display: inline-block;
    width: 400px;
}

.thumb figure {
    margin: 0;
}

.thumb img {
    max-width: 400px;
}

.thumb .tag {
    display: inline-block;
    float: right;
    color: #fff;
    background: #e03f48;
    align-items: right;
    border: 1px solid #000;
}

.date {
    color: #6e59af;
    margin: 4px 0 4px 0;
    font-weight: bold;
    position: relative;
    line-height: 1.2em;
    font-size: 110%;
}

.title {
    margin-top: 0;
    color: #333;
    background: #ffdd00;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 150%;
}
