body {
    background-color: #F9F9E5;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: bottom;
}

article img {
    border: 1px solid #000;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #000;
    position: relative;
}

aside {
    width: 210px;
    background: #f9f9ff;
    display: table-cell;
    vertical-align: top;
}

article {
    display: table-cell;
    vertical-align: top;
    margin-left: 100px;
    padding-top: 40px;
}

aside h2 {
    color: #2f4f2f;
    background: #ffc;
}

figure {
    display: table;
}

figcaption {
    text-align: center;
}

strong {
    font-size: 5em;
}

.date {
    color: #6e59af;
    margin: 4px 0 4px 0;
    font-weight: bold;
    position: relative;
    line-height: 1.2em;
    font-size: 110%;
}

.title {
    margin-top: 0;
    color: #333;
    background: #ffdd00;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 150%;
}
